<div class="saw-table__body sa-widget-table text-nowrap table-responsive">
	<table>
		<thead>
			<tr>
				<th>
					<b>تاريخ
					</b>
				</th>
				<th>
					<b>الإسم ورقم الهاتف</b>
				</th>
				<th>
					<b>العنوان</b>
				</th>
				<th>
					<b>المنتوج</b>
				</th>
				<th>
					<b>الكمية</b>
				</th>
				<th>
					<b>
						الثمن</b>
				</th>
				<th>
					<b>
						المجموع الفرعي</b>
				</th>
				<th>
					<b>
						العلبة
					</b>
				</th>
				<th>
					<b>
						المجموع</b>
				</th>
				<th>
					<b>
						المدينة
					</b>
				</th>
				<th>
					<b>
						حذف
					</b>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for item in lists %}
				<tr class='listingOrdersTR' id='row_cmd_{{item.id}}'>
					<td>{{item.created_at}}</td>
					<td>{{item.name}}<br>{{item.tel}}</td>
					<td> {{item.adress}}<br>{{item.city}}<br>{{item.province}}<br>{{item.codepostal}}

					</td>
					<td>
						{% for products in item.products_l7ram %} {{ products.product['name'] }}
							<hr class="ster_l7ram">
						{% endfor %}
					</td>
					<td>
						{% for products in item.products_l7ram %} {{ products['quantity'] }}
							<hr class="ster_l7ram">
						{% endfor %}
					</td>
					<td>
						{% for products in item.products_l7ram %}
							Dh &nbsp {{ products.product['price'] }}
							<hr class="ster_l7ram">
						{% endfor %}
					</td>
					<td>
						{% set total = 0 %}
						{% for products in item.products_l7ram %}
							Dh &nbsp {{ products['price'] }}
							{% set total = total + products['price']  %}
							<hr class="ster_l7ram">
						{% endfor %}
					</td>
					<td>
						{% for products in item.products_l7ram %} {{ products['box'] }}
							<hr class="ster_l7ram">
						{% endfor %}
					</td>
					<td>
						Dh &nbsp {{ item.price }}
					</td>
					<td>{{ item.source }}
					</td>
					<td>
						<a class='delte_tkf' data-id="{{item.id}}" href="javascript:;">حذف</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
